html, body {
	background-color: #ccc;
	font: 16px/1.5 Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;

}

a:hover {
	text-decoration: underline;
}

article {

	margin: 20px auto;
	width: 600px;
}

h2 {
	background-color: #B7E7E8;
	border: 1px solid black;
	display: inline-block;
	margin: 0;
	padding: 1px 10px;
}

p {
	margin: 0;
}


header {
	background-color: #3A3787;
	margin: 30px auto 30px auto;
	width: 100%;
	padding: 20px 0;
}

.header {
	margin: 0 auto;
	width: 600px;
}

.avatar {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: #ffffff;
	border: 20px solid black;
	border-color: #3A3787;
	float: right;
	left: 140px;
	top: -100px;
}

.facebook {
	position: relative;
	width: 32px;
	height: 32px;
	float: right;
	left: 350px;
	top: -45px;
	background-color: #ffffff;
}

.twitter {
	position: relative;
	width: 32px;
	height: 32px;
	float: right;
	left: 425px;
	top: -45px;
	background-color: #ffffff;
}

.instagram {
	position: relative;
	width: 32px;
	height: 32px;
	float: right;
	left: 500px;
	top: -45px;
	background-color: #ffffff;
}

.google {
	position: relative;
	width: 32px;
	height: 32px;
	float: right;
	left: 575px;
	top: -45px;
	background-color: #ffffff;
}

.pinterest {
	position: relative;
	width: 32px;
	height: 32px;
	float: right;
	left: 650px;
	top: -45px;
	background-color: #ffffff;
}

h1 {
	font: 48px Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.date {
	font: 11px Verdana, Arial, sans-serif;
	background-color: #B7E7E8;
	border: 1px solid black;
	margin: auto 5px auto auto;
	padding: 1px 10px;
	text-align: right;
	width: 50px;
	position: absolute;
	top: 7px;
	left: -78px;
}

.post {
	position: relative;
	background-color: white;
	border: 1px solid black;
	padding: 5px 5px;
}

.post h2 a {
}

.share {
	background-color: #B7E7E8;
	border: 1px solid black;
	margin: 4px 0;
	padding: 0 10px;
	text-align: right;
}

