body {
	background-color: #ccc;
	font: 16px/1.5 Verdana, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: black;

}

a:hover {
	text-decoration: underline;
}

article {

	margin: 20px auto;
	width: 600px;
}

h2 {
	margin: 0 auto auto 0;
}

p {
	margin: 0 auto auto 0;
}


.header {
	background-color: #3A3787;
	margin: 30px auto 30px auto;
	width: 150%;
	padding: 20px 20px;
}

.header p {
	font: 48px Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}

.date {
	font: 11px Verdana, Arial, sans-serif;
	background-color: #B7E7E8;
	border: 1px solid black;
	margin: auto 5px auto auto;
	padding: 1px 10px;
	text-align: right;
	width: 50px;
	position: absolute;
	top: 7px;
	left: -78px;
}

.post {
	position: relative;
	background-color: white;
	border: 1px solid black;
	padding: 5px 5px;
}

.post h2 a {
	background-color: #B7E7E8;
	border: 1px solid black;
	padding: 1px 10px;
}

.share {
	background-color: #B7E7E8;
	border: 1px solid black;
	margin: 4px 0;
	padding: 0 10px;
	text-align: right;
}

